<div class="contactUs">
  <div id="contactTitle">
    <span class="letter" data-letter="Contact">Contact</span>
    <span class="letter" data-letter="Us">Us</span>
  </div>
  <div id="contactBody">
    <div id="contactMap">
      <iframe
        src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d7198.797889942767!2d22.800243379010706!3d40.658065383903!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x14a8252f00734565%3A0xe6aff0634be23dc2!2zzpHOu861zr7OrM69zrTPgc61zrnOvyDOpM61z4fOvc6_zrvOv86zzrnOus-MIM6VzrrPgM6xzrnOtM61z4XPhM65zrrPjCDOis60z4HPhc68zrEgzpjOtc-Dz4POsc67zr_Ovc6vzrrOt8-C!5e0!3m2!1sel!2sgr!4v1553239898895"
      ></iframe>
    </div>
    <div id="contactSocialMedia">
       <div id="mail">Email</div>
       hi@fineasracingteam.gr
       <div id="becomeSpon">
         Become a sponsor by
         <br>
         sending us an email!
       </div>
       sponsors@fineasracingteam.gr
    </div>
  </div>
</div>
<div class="footerv2">
  <div id="cpRights">
    Copyrights © 2019 FineasRacingTeam. All Rights Reserved               
  </div>
</div>