<!--contact us header-->
<div class="mainSeperator">
  <div style="width: 100%; height: 20px; border-bottom: 1.5px solid #BFC0C1; text-align: center">
    <span style="color:#00A3F3; font-size: 28px; background-color: #ffffff; padding: 0 10px;">
      Contact Us
    </span>
  </div>
</div>
<!--rest of the page-->
<!--map-->
<div class="container">
  <div class="row">
    <div class="col">
      <div id="map-container" class="z-depth-1-half map-container" style="height: 400px">
        <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d7198.797889942767!2d22.800243379010706!3d40.658065383903!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x14a8252f00734565%3A0xe6aff0634be23dc2!2zzpHOu861zr7OrM69zrTPgc61zrnOvyDOpM61z4fOvc6_zrvOv86zzrnOus-MIM6VzrrPgM6xzrnOtM61z4XPhM65zrrPjCDOis60z4HPhc68zrEgzpjOtc-Dz4POsc67zr_Ovc6vzrrOt8-C!5e0!3m2!1sel!2sgr!4v1553239898895" frameborder="0"
          style="border:0" allowfullscreen></iframe>
      </div>
    </div>
    <!--social media and contact info-->
    <div class="col">
      <div class="smci">
        <i class="fa fa-paper-plane"><span class="fa-icon-innter-text">Email</span></i><span id="hif">
          hi@fineasracingteam.gr</span>
      </div>
      <hr>
      <span id="bas">Become a sponsor by sending us an email!</span>
      <br>
      sponsors@fineasracingteam.gr
      <hr>
      <hr>
      <div id="socialMedia">
        <ul class="social-buttons">
          <!--facebook-->
          <li><a href="https://www.facebook.com/fineasracingteam/" target="_blank" class="social-btn"><i class="fa fa-facebook"></i></a></li>
          <!--instagram-->
          <li><a href="https://www.instagram.com/fineasracingteam/" target="_blank" class="social-btn"><i class="fa fa-instagram"></i></a>
          </li>
          <!--twitter-->
          <li><a href="https://twitter.com/FineasTeam" class="social-btn" target="_blank"><i class="fa fa-twitter"></i></a></li>
          <!--youtube-->
          <li><a href="https://www.youtube.com/channel/UCH1xQQtQrYpK0FpqMOvvNwg" target="_blank" class="social-btn"><i class="fa fa-youtube"></i></a></li>
        </ul>
      </div>
    </div>
  </div>
</div>
<p id="cpr">Copyrights © 2019 FineasRacingTeam. All Rights Reserved</p>