<h2>Στόχος</h2>
<p>Στόχος της ομάδας μας είναι η ανάπτυξη του πρώτου μονοθεσίου στην Ελλάδα, τύπου formula, προκειμένου να συμμετάσχουμε στους διαγωνισμούς «Formula Student Driverless».</p>

<h2>Η Ομάδα</h2>
<p>Η πρώτη ελληνική ομάδα που δημιουργήθηκε για τον παραπάνω σκοπό, αποτελείται από νέους γεμάτους διάθεση, όρεξη για δουλειά, φαντασία και φυσικά μπόλικη τρέλα. Σ’ αυτό το δύσκολο εγχείρημα, δε χρειάζονται μόνο άτομα με ικανότητες και γνώσεις. Απαραίτητο συστατικό της ομάδας είναι η σωστή οργάνωση και η άψογη συνεργασία μεταξύ των μελών της.</p>

<h2>Το Όνομα</h2>
<p>Στην ελληνική μυθολογία, ο Φινέας ήταν ένας τυφλός μάντης. Εμπνευσμένοι λοιπόν, από αυτό, ταυτιστήκαμε και κατασκευάζουμε το δικό μας «μάντη». Έναν μονοθέσιο «τυφλό μάντη», με μοναδικό οδηγό τους αλγορίθμους μας. Όπως ο Φινέας λάμβανε οιωνούς (δεδομένα) και προφήτευε, έτσι κι εμείς χρησιμοποιούμε αισθητήρες για τη συλλογή δεδομένων, προκειμένου το μονοθέσιό μας να «προφητεύει» τη διαδρομή του.</p>

<h2>Μυθολογία</h2>
<p>Ο Φινέας, σύμφωνα με την ελληνική μυθολογία, είχε τυφλωθεί από το θεό Δία, που του έστειλε τις Άρπυιες να του αρπάζουν το φαγητό για να είναι πάντα πεινασμένος. Ελευθερωτές του υπήρξαν οι Αργοναύτες, στους οποίους ο Φινέας αποκάλυψε το δρόμο για τον προορισμό τους, και τον τρόπο να περάσουν με ασφάλεια τις Συμπληγάδες Πέτρες, τους τεράστιους βράχους που ενώνονταν κι απομακρύνονταν διαρκώς, ώστε να κάνουν αδύνατο το ασφαλές πέρασμα των πλοίων από εκείνο το σημείο.</p>
