<!--team header-->
<div class="mainSeperator">
  <div style="width: 100%; height: 20px; border-bottom: 1.5px solid #BFC0C1; text-align: center">
    <span style="color:#00A3F3; font-size: 28px; background-color: #ffffff; padding: 0 10px;">
      Team
    </span>
  </div>
</div>
<!--main image-->
<div class="container">
  <div class="row">
    <div class="col">
      <img src="teamimage.jpg" alt="">
    </div>
  </div>
</div>
<!--team members header-->
<div class="mainSeperator">
  <div style="width: 100%; height: 20px; border-bottom: 1.5px solid #BFC0C1; text-align: center">
    <span style="color:#00A3F3; font-size: 28px; background-color: #ffffff; padding: 0 10px;">
      Team Members
    </span>
  </div>
</div>
<!--team members-->
<div class="container">
  <!--project manager-->
  <div class="row">
    <div class="col">
      <h3>Project Manager</h3>
      <p>Andreas Oikonomou</p>
    </div>
  </div>
  <!--marketing-->
  <div class="row">
    <div class="col">
      <h3>Marketing</h3>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <p>Panos Stasinos</p>
    </div>
    <div class="col">
      <p>Ioanna Gikopoyli</p>
    </div>
    <div class="col">
      <p>Sofia Tsiami</p>
    </div>
    <div class="col">
      <p>Grigoris Priftis</p>
    </div>
  </div>
  <!--Software-->
  <div class="row">
    <div class="col">
      <h3>Software</h3>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <p>George Stinis</p>
    </div>
    <div class="col">
      <p>Dimitris Skretas</p>
    </div>
    <div class="col">
      <p>Simos Platiotis</p>
    </div>
    <div class="col">
      <p>Christos Avramis</p>
    </div>
  </div>
  <div class="row">
    <div class="col">
     <p>Martin Dimitris Arabatzis</p>
    </div>
    <div class="col">
      <p>Pantelis Diamantidis</p>
    </div>
    <div class="col"></div>
    <div class="col"></div>
  </div>
  <!--frame-->
  <div class="row">
    <div class="col">
      <h3>Frame</h3>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <p>Vasilis Sotiriou</p>
    </div>
    <div class="col">
      <p>Ioannis Vakalis</p>
    </div>
    <div class="col">
      <p>George Simeonidis</p>
    </div>
    <div class="col">
    </div>
  </div>
  <!--suspensions-->
  <div class="row">
    <div class="col">
      <h3>Suspensions</h3>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <p>George Simeonidis</p>
    </div>
  </div>
  <!--aerodynamics-->
  <div class="row">
    <div class="col">
      <h3>Aerodynamics</h3>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <p>Ioannis Vakalis</p>
    </div>
    <div class="col">
      <p>Nikos Balanikas</p>
    </div>
    <div class="col">
    </div>
    <div class="col">
    </div>
  </div>
  <!--electrical systems-->
  <div class="row">
    <div class="col">
      <h3>Electrical Systems</h3>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <p>Charalampos Orfanidis</p>
    </div>
    <div class="col">
      <p>Paschalis Liratzis</p>
    </div>
    <div class="col">
      <p>Roula Vernarli</p>
    </div>
    <div class="col">
      <p>Giannis Gogos</p>
    </div>
  </div>
  <!--braking system-->
  <div class="row">
    <div class="col">
      <h3>Braking System</h3>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <p>Aristotelis Eustratiadis</p>
    </div>
  </div>
  <!--transmission-->
  <div class="row">
    <div class="col">
      <h3>Transmission</h3>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <p>Solon Gerempakanis</p>
    </div>
    <div class="col">
      <p>Giannis Ifantis</p>
    </div>
    <div class="col">
    </div>
    <div class="col">
    </div>
  </div>
  <!--website-->
  <div class="row">
    <div class="col">
      <h3>Website</h3>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <p>George Sakellariou</p>
    </div>
    <div class="col">
      <p>Christina Douka</p>
    </div>
    <div class="col">
    </div>
    <div class="col">
    </div>
  </div>
  <!--academic supervisor-->
  <div class="row">
    <div class="col">
      <h3>Academic Supervisor</h3>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <p>Periklis Chatzimisios</p>
    </div>
  </div>
</div>
