<!-- Footer -->
<footer class="page-footer font-small special-color-dark pt-4">
  <div class="container">
    <div class="row">
      <div class="col">
        <div id="ls">
          <h4>Let's Socialize</h4>
          <a href="https://www.facebook.com/fineasracingteam/"><img [src]="socialMedia1" alt=""></a>
          <a href="https://twitter.com/FineasTeam"><img [src]="socialMedia2" alt=""></a>
          <a href="https://www.youtube.com/channel/UCH1xQQtQrYpK0FpqMOvvNwg/featured"><img [src]="socialMedia3"            alt=""></a>
          <a href="https://www.instagram.com/fineasracingteam/"><img [src]="socialMedia4" alt=""></a>
         </div>
    </div>
    <div class="col">
      <h4>Say Hi</h4>
      hi@fineasracingteam.gr
    </div>
    <div class="col" style="background:black">
    </div>
    </div>
    <div id="cpr">
     Copyrights © 2019 Fineas Racing Team. All Rights Reserved
    </div>
  </div>
</footer>