*
{
  margin-top: 15px ; 
  background-color: #000000 ; 
  text-align: center ;
  color: #ffffff ; 
}
#ls h4
{
  text-align: left ;
}
img
{
  margin-right: 5px ; 
  float: left ;
  width: 35px ; 
}
#cpr
{
  padding-bottom: 30px ; 
}