<!-- Footer -->
<footer class="page-footer font-small special-color-dark pt-4">
  <div class="container">
    <div class="row">
      <div class="col">
        <div id="ls">
          <h4>Let's Socialize</h4>
          <a href="https://www.facebook.com/fineasracingteam/"><img src="facebook.png" alt=""></a>
          <a href="https://www.instagram.com/fineasracingteam/"><img src="instagram.png" alt=""></a>
          <a href="https://twitter.com/FineasTeam"><img src="twitter.png" alt=""></a>
          <a href="https://www.youtube.com/channel/UCH1xQQtQrYpK0FpqMOvvNwg/featured"><img src="youtube.png" alt=""></a>
         </div>
      </div>
      <div class="col">
       <h4>Say Hi</h4>
       hi@fineasracingteam.gr
      </div>
      <div class="col" style="background:black">
      </div>
      </div>
      <div id="cpr">
        Copyrights © 2019 Fineas Racing Team. All Rights Reserved
      </div>
    </div>
</footer>