.mainSeperator
{
  margin: 70px ;  
  font-weight: bold ; 
}
img
{
  width: 100% ; 
}
.btn 
{
  margin-left: 10px;
  margin-right: 10px;
  float: right;
}
.btn-primary 
{
  font-size: 20px;
  font-weight: bold ; 
  color: #FFFFFF;
  letter-spacing: 0.1px;
  line-height: 15px;
  border: 18px solid #0087ED;
  border-radius: 40px;
  background: #0087ED;
  transition: all 0.3s ease 0s;
}
.btn-primary:hover 
{
  color: #0087ED;
  background: #EDEDED ;
  border: 18px solid #EDEDED;
}
#notSponsor
{
  padding-right: 30px ;
  margin-bottom: -10px ; 
  font-weight: bold ; 
  text-align: right ;
}
//footer css
.fooT
{
  margin-top: 15px ; 
  background-color: #000000 ; 
  text-align: center ;
  color: #ffffff ; 
}
#ls h4
{
  text-align: left ;
}
.fooT img
{
  margin-right: 5px ; 
  float: left ;
  width: 35px ; 
  padding-bottom: 10px ; 
}
.fooT h4
{
  padding-top: 30px ; 
}
#cpr
{
  padding-top: 10px ;
  padding-bottom: 30px ; 
}