<!--sponsor header-->
<div class="mainSeperator">
  <div style="width: 100%; height: 20px; border-bottom: 1.5px solid #BFC0C1; text-align: center">
    <span style="color:#00A3F3; font-size: 28px; background-color: #ffffff; padding: 0 10px;">
      Sponsors
    </span>
  </div>
</div>
<!--sponsors-->
<div class="container">
  <div class="row">
    <div class="col-sm">
      <div id="sponsor1">
        <img src="../../../assets/sponsor1.png" alt="">
      </div>
    </div>
    <div class="col-sm">
      <div id="sponsor2">
        <img src="../../../assets/sponsor2.png" alt="">
      </div>
    </div>
    <div class="col">
    </div>
  </div>
</div>
<!--become a sponsor + button-->
<div class="container">
  <div class="row">
    <div class="col">
      <div id="notSponsor">
        <p>Not a sponsor yet?</p>
      </div>
      <button type="button" class="btn btn-primary" routerLink="/contact">Become one!</button>
    </div>
  </div>
</div>
<!--Footer-->
<div class="fooT">
  <footer class="page-footer font-small special-color-dark pt-4">
   <div class="container">
     <div class="row">
       <div class="col">
         <div id="ls">
            <h4>Let's Socialize</h4>
            <a href="https://www.facebook.com/fineasracingteam/"><img src="../../../assets/facebook.png" alt=""></a>
            <a href="https://www.instagram.com/fineasracingteam/"><img src="../../../assets/instagram.png" alt=""></a>
           <a href="https://twitter.com/FineasTeam"><img src="../../../assets/twitter.png" alt=""></a>
           <a href="https://www.youtube.com/channel/UCH1xQQtQrYpK0FpqMOvvNwg/featured"><img src="../../../assets/youtube.png" alt=""></a>
          </div>
       </div>
       <div class="col">
        <h4>Say Hi</h4>
        hi@fineasracingteam.gr
       </div>
       <div class="col" style="background:black">
       </div>
       </div>
       <div id="cpr">
         Copyrights © 2019 Fineas Racing Team. All Rights Reserved
       </div>
     </div>
  </footer>
</div>
