<carousel>
  <slide>
    <img [src] = "header1" alt="first slide" style="display: block; width: 100%;">
    <div class="carousel-caption d-none d-md-block">
      <!--<h3>Second slide label</h3>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
      -->
    </div>
  </slide>
  <slide>
    <img [src] = "header2" alt="second slide" style="display: block; width: 100%;">
    <div class="carousel-caption d-none d-md-block">
      <!--<h3>Second slide label</h3>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
      -->
    </div>
  </slide>
  <slide>
    <img [src] = "header3" alt="third slide" style="display: block; width: 100%;">
    <div class="carousel-caption d-none d-md-block">
      <!--<h3>Second slide label</h3>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
      -->
      </div>
  </slide>
</carousel>
<div class="mainSeperator">
  <div style="width: 100%; height: 20px; border-bottom: 1.5px solid #BFC0C1; text-align: center">
    <span style="color:#00A3F3; font-size: 28px; background-color: #ffffff; padding: 0 10px;">
      We are made of...
    </span>
  </div>
</div>
<!--team ethics-->
<div class="teamEthics">
  <!--first row of team ethics-->
  <div class="container">
    <div class="row">
      <div class="col">
        <img [src] = "ethics1">
        <p>Loyalty</p>
      </div>
      <div class="col">
        <img [src]="ethics2">
        <p>Organization</p>
      </div>
      <div class="col">
        <img [src]="ethics3">
        <p>Passion</p>
      </div>
    </div>
  </div>
  <!--second row of team ethics-->
  <div class="container">
    <div class="row">
      <div class="col">
        <img [src]="ethics4">
        <p>Responsibility</p>
      </div>
      <div class="col">
        <img [src]="ethics5">
        <p>Teamwork</p>
      </div>
      <div class="col">
        <img [src] = "ethics6">
        <p>Trust</p>
      </div>
    </div>
  </div>
</div>
<!--secondary Seperator-->
<!--about us-->
<div class="container">
  <div class="row">
    <div class="col">
    </div>
    <div class="col-8">
      <div class="secondarySeperator">
        <div class="mainSeperator">
          <div style="width: 100%; height: 20px; border-bottom: 1.5px solid #BFC0C1; text-align: center">
            <span style="color:#00A3F3; font-size: 28px; background-color: #ffffff; padding: 0 10px;">
              About Us
            </span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="container">
  <div class="row">
    <div class="col">
      <img [src]="mainLogo" alt="">
    </div>
    <div class="col-8">
      Fineas Racing Team was created to develop the first autonomous, electric, formula-style race car in Greece, in order to
      participate in the «Formula Student Driverless» competitions.
      Phineus was a blind prophet. So, inspired by this, we develop our own "prophet", which uses sensor data to "prophesy"
      its course.
    </div>
  </div>
</div>
<div class="container">
  <div class="row">
    <div class="col">
    </div>
    <div class="col">
    </div>
    <div class="col">
    </div>
    <div class="col">
    </div>
    <div class="col">
    </div>
    <div class="col">
      <button type="button" class="btn btn-primary" routerLink="about">Learn More</button>
    </div>
  </div>
</div>