.mainSeperator
{
    margin: 70px ;  
    font-weight: bold ; 
}
.teamEthics img
{
    margin-top: 30px ; 
    display: block ;
    margin-left: auto ;
    margin-right: auto ;
}
p
{
    text-align: center ; 
    color: #444444 ; 
    font-size: 26px ;
    font-weight: bold ;  
}
.aboutUs hr 
{
    display: inline-block;
}
.btn 
{
  margin-left: 10px;
  margin-right: 10px;
}
.btn-primary 
{
  font-size: 18px;
  font-weight: bold ; 
  color: #FFFFFF;
  letter-spacing: 0.1px;
  line-height: 15px;
  border: 10px solid #0087ED;
  border-radius: 40px;
  background: #0087ED;
  transition: all 0.3s ease 0s;
}
.btn-primary:hover 
{
  color: #0087ED;
  background: #EDEDED ;
  border: 10px solid #EDEDED;
}