<carousel>
  <slide>
    <img src="../../../assets/slider1.jpg" alt="first slide" style="display: block; width: 100%;">
    <div class="carousel-caption d-none d-md-block">
      <!--<h3>Second slide label</h3>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
      -->
    </div>
  </slide>
  <slide>
    <img src="../../../assets/slider2.jpg" alt="second slide" style="display: block; width: 100%;">
    <div class="carousel-caption d-none d-md-block">
      <!--<h3>Second slide label</h3>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
      -->
    </div>
  </slide>
  <slide>
    <img src="../../../assets/slider3.jpg" alt="third slide" style="display: block; width: 100%;">
    <div class="carousel-caption d-none d-md-block">
      <!--<h3>Second slide label</h3>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
      -->
      </div>
  </slide>
</carousel>
<div class="mainSeperator">
  <div style="width: 100%; height: 20px; border-bottom: 1.5px solid #BFC0C1; text-align: center">
    <span style="color:#00A3F3; font-size: 28px; background-color: #ffffff; padding: 0 10px;">
      We are made of...
    </span>
  </div>
</div>
<!--team ethics-->
<div class="teamEthics">
  <!--first row of team ethics-->
  <div class="container">
    <div class="row">
      <div class="col">
        <img src="../../../assets/ethics1.png">
        <p>Loyalty</p>
      </div>
      <div class="col">
        <img src="../../../assets/ethics2.png">
        <p>Organization</p>
      </div>
      <div class="col">
        <img src="../../../assets/ethics3.png">
        <p>Passion</p>
      </div>
    </div>
  </div>
  <!--second row of team ethics-->
  <div class="container">
    <div class="row">
      <div class="col">
        <img src="../../../assets/ethics4.png">
        <p>Responsibility</p>
      </div>
      <div class="col">
        <img src="../../../assets/ethics5.png">
        <p>Teamwork</p>
      </div>
      <div class="col">
        <img src="../../../assets/ethics6.png">
        <p>Trust</p>
      </div>
    </div>
  </div>
</div>
<!--secondary Seperator-->
<!--about us-->
<div class="container">
  <div class="row">
    <div class="col">
    </div>
    <div class="col-8">
      <div class="secondarySeperator">
        <div class="mainSeperator">
          <div style="width: 100%; height: 20px; border-bottom: 1.5px solid #BFC0C1; text-align: center">
            <span style="color:#00A3F3; font-size: 28px; background-color: #ffffff; padding: 0 10px;">
              About Us
            </span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="container">
  <div class="row">
    <div class="col">
      <img src="../../../assets/website-logo.png" alt="">
    </div>
    <div class="col-8">
      Fineas Racing Team was created to develop the first autonomous, electric, formula-style race car in Greece, in order to
      participate in the «Formula Student Driverless» competitions.
      Phineus was a blind prophet. So, inspired by this, we develop our own "prophet", which uses sensor data to "prophesy"
      its course.
    </div>
  </div>
</div>
<div class="container">
  <div class="row">
    <div class="col">
    </div>
    <div class="col">
    </div>
    <div class="col">
    </div>
    <div class="col">
    </div>
    <div class="col">
    </div>
    <div class="col">
      <button type="button" class="btn btn-primary" routerLink="about">Learn More</button>
    </div>
  </div>
</div>
<!--Footer-->
<div class="fooT">
  <footer class="page-footer font-small special-color-dark pt-4">
   <div class="container">
     <div class="row">
       <div class="col">
         <div id="ls">
            <h4>Let's Socialize</h4>
            <a href="https://www.facebook.com/fineasracingteam/"><img src="../../../assets/facebook.png" alt=""></a>
            <a href="https://www.instagram.com/fineasracingteam/"><img src="../../../assets/instagram.png" alt=""></a>
           <a href="https://twitter.com/FineasTeam"><img src="../../../assets/twitter.png" alt=""></a>
           <a href="https://www.youtube.com/channel/UCH1xQQtQrYpK0FpqMOvvNwg/featured"><img src="../../../assets/youtube.png" alt=""></a>
          </div>
       </div>
       <div class="col">
        <h4>Say Hi</h4>
        hi@fineasracingteam.gr
       </div>
       <div class="col" style="background:black">
       </div>
       </div>
       <div id="cpr">
         Copyrights © 2019 Fineas Racing Team. All Rights Reserved
       </div>
     </div>
  </footer>
</div>