//css for the carousel + the text "We are made of..."
.whoWeAre
{
    padding-top: 50px ; 
    padding-bottom: 350px ; 
}
@import url(https://fonts.googleapis.com/css?family=Lato:900);
*, *:before, *:after
{
  box-sizing:border-box ;
}
body
{
  font-family: 'Lato', sans-serif ;
}
div.foo
{
  width: 90% ;
  margin: 0 auto ; 
  text-align: center ;
}
.letter
{
  display: inline-block ;
  font-weight: 900 ;
  font-size: 2em ;
  margin: 0.2em ;
  position: relative ;
  color: #0087ED ;
  transform-style: preserve-3d ;
  perspective: 400 ;
  z-index: 1 ;
}
.letter:before, .letter:after
{
  position:absolute ;
  content: attr(data-letter) ;
  transform-origin: top left ;
  top:0 ;
  left:0 ;
}
.letter, .letter:before, .letter:after
{
  transition: all 0.3s ease-in-out ;
}
.letter:before
{
  color: #0087ED ;
  text-shadow: 
    -1px 0px 1px rgba(255,255,255,.8),
    1px 0px 1px rgba(0,0,0,.8) ;
  z-index: 3 ;
  transform:
    rotateX(0deg)
    rotateY(-15deg)
    rotateZ(0deg) ;
}
.letter:after
{
  color: #fff ;
  z-index:2;
  transform:
    scale(1.08,1)
    rotateX(0deg)
    rotateY(0deg)
    rotateZ(0deg)
    skew(0deg,1deg) ;
}
.letter:hover:before
{
  color: #fafafa ;
  transform:
    rotateX(0deg)
    rotateY(-40deg)
    rotateZ(0deg);
}
.letter:hover:after
{
  transform:
    scale(1.08,1)
    rotateX(0deg)
    rotateY(40deg)
    rotateZ(0deg)
    skew(0deg,22deg);
}
//css for the ethics of our team :) 
.teamEthicsImages1
{
  max-width: 1510px ;
  text-align: center ; 
}
.teamEthicsImages2
{
  padding-top: 280px ; 
  max-width: 1510px ;
  text-align: center ;
}
.row1
{
  height: 25% ;
  width: 25% ;  
  position: relative;
  display: inline-block;
  float: right;
  padding: 10px ;
} 
.row2
{
  height: 25% ;
  width: 25% ;  
  position: relative ;
  display: inline-block;
  float: right ;
  padding: 10px ;
}
//css for the about us 
.aboutUs
{
  height: auto ;
  padding-bottom: 300px ; 
}
#textAbout
{
  width: 70% ;
  float: right ;
  text-align: center ; 
}
#textAbout p 
{
  text-align: center ;
}
#imgAbout
{
  padding-top: 70px ;
  float : right ; 
}
//css for the footer 
.footer
{
  padding-top: 0px ; 
  background: #000000 ; 
}
#socialize
{
  display: inline-block ;
  font-weight: 900 ;
  font-size: 1.7em ;
  margin: 0.2em ;
  position: relative ;
  color: #FFFFF9 ;
  transform-style: preserve-3d ;
  perspective: 400 ;
  z-index: 1 ;
  width: 90% ;
  text-align: center ;
}
#socialMediaIcons
{
  position: relative ;
  float: center;
}
#socialMediaIcons img
{
  height: 52px ;
  width: 52px ; 
  padding: 8px ; 
}
#mail
{
  font-family: Georgia, 'Times New Roman', Times, serif ;
  font-size: 18px ; 
  font-weight: normal ;
}
#cpRights
{ 
  padding-top: 5px ; 
  font-family: Georgia, 'Times New Roman', Times, serif ;
  font-size: 12px ; 
  font-weight: normal ;
}