<div class="aboutTitle">
  <span class="letter" data-letter="About">About</span>
  <span class="letter" data-letter="Us">Us</span>
</div>
<div class="textAboutUs">
  <div id="headerZ">
    <p>Purpose</p>
    The purpose of our team, is the development of the first autonomous, electric, formula-style race car in Greece, in
    order to participate in the «Formula Student Driverless» competitions.
  </div>
  <div id="headerZ">
    <p>Our Team</p>
    The first Greek student team, that has been created for the above purpose, consists of young people, that are full
    of
    passion, willing to help, have lots of imagination and craziness as well. In this difficult attempt, we do not only
    need people with abilities and knowledge. Necessary elements of this team, are the correct organization and
    excellent
    cooperation, among its members.
  </div>
  <div id="headerZ">
    <p>Our Name</p>
    In Greek mythology, Phineus (Fineas) was a blind prophet. So, inspired by this, we identified with it and we
    develop
    our own “prophet”. A formula-type car “blind prophet”, having as a unique driver our algorithms. Just like Phineus
    received omens (=data) and predicted, in the same way, we are using sensors for the data collection, so that our
    electric vehicle, will “prophesy”, predict its course.
  </div>
  <div id="headerZ">
    <p>Mythology</p>
    According to Greek mythology, Phineus was blinded by Zeus, who sent him the Harpies, in order for them to take his
    food
    away and keep him always hungry. His liberators, were the Argonauts, to whom Phineus revealed how to get to their
    destination and how to pass the Symplegades safely, the huge rocks, which constantly clashed together, so that no
    ship
    could go through.
  </div>
  <div id="headerZ">
    <p>Formula Student Driverless Competition</p>
    Formula SAE is one of the biggest student competitions worldwide. It started in 1980 by the SAE student branch at
    the
    University of Texas. Over the years, the competition evolved. In 2010, the category of electrical vehicles was
    added
    and in 2017 the category of driverless vehicles.
    <br><br>
    The aim of the competition is for students to cooperate with each other, to present innovative ideas, to design,
    construct, develop and finally to compete with small, autonomous, formula-style racing cars.
    <br><br>
    The competition consists of 2 main categories of events. Static events and Dynamic events, with total score of 1000
    points.
  </div>
  <div class="bigBox">
    <div class="containerOne">
      <div class="table">
        <div class="table-header">
          <div class="header__item"><a id="name" class="filter__link">Dynamic Events</a></div>
        </div>
        <div class="table-content">
          <div class="table-row">
            <div class="table-data">Skidpad</div>
            <div class="table-data">75 points</div>
          </div>
          <div class="table-row">
            <div class="table-data">Acceleration</div>
            <div class="table-data">75 points</div>
          </div>
          <div class="table-row">
            <div class="table-data">Efficiency</div>
            <div class="table-data">100 points</div>
          </div>
          <div class="table-row">
            <div class="table-data">Trackdrive</div>
            <div class="table-data">250 points</div>
          </div>
        </div>
      </div>
    </div>
    <div class="containerTwo">
      <div class="table">
        <div class="table-header">
          <div class="header__item"><a id="name" class="filter__link">Dynamic Events</a></div>
        </div>
        <div class="table-content">
          <div class="table-row">
            <div class="table-data">Business Plan</div>
            <div class="table-data">75 points</div>
          </div>
          <div class="table-row">
            <div class="table-data">Cost</div>
            <div class="table-data">100 points</div>
          </div>
          <div class="table-row">
            <div class="table-data">Efficiency</div>
            <div class="table-data">100 points</div>
          </div>
          <div class="table-row">
            <div class="table-data">Engineering Design</div>
            <div class="table-data">150 points</div>
          </div>
          <div class="table-row">
            <div class="table-data">Autonomous Design</div>
            <div class="table-data">175 points</div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="footer">
  <div id="socialize">
    Let's socialize
    <div id="socialMediaIcons">
      <a href="https://www.facebook.com/fineasracingteam/" target="_blank"><img src="https://www.fineasracingteam.gr/wp-content/plugins/ultimate-social-media-icons/images/icons_theme/default/default_facebook.png"
          alt=""></a>
      <a href="https://twitter.com/FineasTeam" target="_blank"><img src="https://www.fineasracingteam.gr/wp-content/plugins/ultimate-social-media-icons/images/icons_theme/default/default_twitter.png"
          alt=""></a>
      <a href="https://www.youtube.com/channel/UCH1xQQtQrYpK0FpqMOvvNwg" target="_blank"><img src="https://www.fineasracingteam.gr/wp-content/plugins/ultimate-social-media-icons/images/icons_theme/default/default_youtube.png"
          alt=""></a>
      <a href="https://www.instagram.com/fineasracingteam/" target="_blank"><img src="https://www.fineasracingteam.gr/wp-content/plugins/ultimate-social-media-icons/images/icons_theme/default/default_instagram.png"
          alt=""></a>
      <br>
      Say Hi
      <div id="mail">
        hi@fineasracingteam.gr
      </div>
      <div id="cpRights">
        Copyrights © 2018 Fineas Racing Team. All Rights Reserved
      </div>
    </div>
  </div>
</div>