<!--about us header-->
<div class="mainSeperator">
  <div style="width: 100%; height: 20px; border-bottom: 1.5px solid #BFC0C1; text-align: center">
    <span style="color:#00A3F3; font-size: 28px; background-color: #ffffff; padding: 0 10px;">
      About Us
    </span>
  </div>
</div>
<!--purpose-->
<div class="sep">
  <div class="container">
    <div class="row">
      <div class="col">
        <h3>Purpose</h3>
        The purpose of our team, is the development of the first autonomous, electric, formula-style race car in Greece,
        in
        order to participate in the «Formula Student Driverless» competitions.
      </div>
    </div>
  </div>
</div>
<!--out team-->
<div class="sep">
  <div class="container">
    <div class="row">
      <div class="col">
        <h3>Our Team</h3>
        The first Greek student team, that has been created for the above purpose, consists of young people, that are full
        of
        passion, willing to help, have lots of imagination and craziness as well. In this difficult attempt, we do not
        only need
        people with abilities and knowledge. Necessary elements of this team, are the correct organization and excellent
        cooperation, among its members.
      </div>
    </div>
  </div>
</div>
<!--our name-->
<div class="sep">
  <div class="container">
    <div class="row">
      <div class="col">
        <h3>Mythology</h3>
        According to Greek mythology, Phineus was blinded by Zeus, who sent him the Harpies, in order for them to take his
        food
        away and keep him always hungry. His liberators, were the Argonauts, to whom Phineus revealed how to get to their
        destination and how to pass the Symplegades safely, the huge rocks, which constantly clashed together, so that no
        ship
        could go through.
      </div>
    </div>
  </div>
</div>
<!--formula student driverless competition-->
<div class="sep">
  <div class="container">
    <div class="row">
      <div class="col">
        <h3>Formula Student Driverless Competition</h3>
        Formula SAE is one of the biggest student competitions worldwide. It started in 1980 by the SAE student branch at
        the
        University of Texas. Over the years, the competition evolved. In 2010, the category of electrical vehicles was
        added and
        in 2017 the category of driverless vehicles.
        <hr>
        The aim of the competition is for students to cooperate with each other, to present innovative ideas, to design,
        construct, develop and finally to compete with small, autonomous, formula-style racing cars.
        <hr>
        The competition consists of 2 main categories of events. Static events and Dynamic events, with total score of
        1000
        points.
      </div>
    </div>
  </div>
</div>
<!--tables-->
<div class="container">
  <div class="row">
    <div class="col">
      <h3>Dynamic Events</h3>
      <table class="table">
        <tbody>
          <tr>
            <td>Skidpad</td>
            <td>75 points</td>
          </tr>
          <tr>
            <td>Acceleration</td>
            <td>75 points</td>
          </tr>
          <tr>
            <td>Efficiency</td>
            <td>100 points</td>
          </tr>
          <tr>
            <td>Trackdrive</td>
            <td>250 points</td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="col">
    <h3>Static Events</h3>
    <table class="table">
      <tbody>
        <tr>
          <td>Business Plan</td>
          <td>75 points</td>
        </tr>
        <tr>
          <td>Cost</td>
          <td>100 points</td>
        </tr>
        <tr>
          <td>Efficiency</td>
          <td>100 points</td>
        </tr>
        <tr>
          <td>Engineering Design</td>
          <td>150 points</td>
        </tr>
        <tr>
          <td>Autonomous Design</td>
          <td>175 points</td>
        </tr>
      </tbody>
    </table>
    </div>
  </div>
</div>
